@charset "utf-8";
/* CSS Document */

/*Modifies the PFC Logo Size at the top left*/
img.resize1 
{
	width: 200px;
	height: auto;
}


.box1
{
	height:138px;
	background-color: #B12F31
}

/*Modifies header 1, make sure everything ends with a ";"*/
h1 
{
	color: #253CA2;
	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
	font-size: 60px;
	
	/*Font Weight 100 is very thin, 400 is average, 600 semi bold, 800 is very thick*/
	font-weight: 100;
	
	padding-top: 0px;
	
	padding-left: 60px;
}

.box2 img
{
	width: 100%;
	height: auto;
	display: block;
}

.box2
{
	display:inline-block;
	vertical-align:middle;

	
	width: 5%;
	
	
	
	padding-top: 20px;

	
}

/*The following @media max width adjusts all media when the width is a certain size or less*/
/*Tablet*/
@media (max-width:768px)
{
	h1 
	{
		font-size: 40px;
		text-align: center;
		padding-left: 0px;
	}
	/*not yet used box 3*/
	.box3
	{
		width: 48%;
	}
}

/*Phone*/
@media (max-width:400px)
{
	h1
	{
		font-size: 28px;
	}
	
	.box3
	{
		width: 98%;
	}
	
	/*Hides certain content on small screens*/
	.hidden-xs 
	{
		display: none;
	}
}

