@charset "utf-8";
/* CSS Document */


body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

section
{
	width: 100%;
	height: 100%;
}

section:nth-child(1)
{
	background: url(bg1.jpg);
	background-size: cover;
}

section:nth-child(2)
{
	padding: 100px;
	box-sizing: border-box;
	height: auto;
}
h1
{
	font-size: 3em;
	margin: 0;
	padding: 0 0 20px;
}
p
{
	font-size: 18px;
	margin: 0;
	padding: 0;
}

section:nth-child(3)
{
	background: url(bg2.jpg);
	background-size: cover;
}

.scrollToTop
{
	position:fixed;
	bottom: 80px;
	right: 50px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #0063e8;
	color: #fff;
	display: none;
	border-radius: 50%;
}

.scrollToTop:hover
{
	background: #e8008a;
}